/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.5) 100%, rgb(7, 7, 5) 100%),url(stock-vector-red-fire-polygonal-mosaic-background-vector-illustration-creative-business-design-templates.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


/* Container Styling */
.container {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(75, 72, 72, 0.811);
}


/* Header Styling */
h1{
    text-align: center;
    color: #fff;
}
h2{
    text-align: center;
    color: #ec1919; 
}

/* Link Styling */
a {
    color: #0275d8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Enquiry Form Styling */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #0a0909;
    border-radius: 4px;
}

form textarea {
    resize: vertical;
    height: 100px;
}

form input[type="submit"] {
    width: 100%;
    background-color: #541414;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

form input[type="submit"]:hover {
    background-color: #DB7093;
}

/* Footer Styling */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: rgb(185, 178, 178);
}